/* Game.css: game layout, button color, size of ui, etc. */
#game 
{
	height: 600px;
	width: 600px;
	background: rgba(255, 255, 255, 0.25);
	border: 2px solid rgba(255, 255, 255, 0.15);
	margin: 0 auto;
	position: relative;
	border-radius: 10px
}

#game .row 
{
	position: absolute;
	cursor: pointer;
	border-radius: 50%;
	-webkit-transform: scale(0.9);
	background-image: url(../images/gradient.png);
	background-size: cover;
	overflow: hidden;
}

#game .row.glow 
{
	z-index: 99;
	box-shadow: inset 0 0 10px 10px rgba(255,255,255,1);	
}

/* Note: color can be replaced with images */

/*RED*/
#game .row.type-1 
{
	background-color: #E81C36;
}

/*ORANGE*/
#game .row.type-2 
{
	background-color: #FFC300;
}

/*BLUE*/
#game .row.type-3 
{
	background-color: #2868C7;
}

/*green*/
#game .row.type-4 
{
	background-color: #25CF6B;
}

/*PURPLE*/
#game .row.type-5 
{
	background-color: #8F2BB3;
}

/*BLACK*/
#game .row.type-6 
{
	background-color: #4A3E4F;
}